form {
  background-color:beige;
  padding: 20px;
  border-radius: 5px;
  width: 1400px;
  margin-bottom: 20px;
  line-height: 200%;
}

input[type="text"], input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 10px;
  border-radius: 5px;
  width: 100%;
}

input[type="submit"] {
  text-align: center;
  background-color: lightpink;
  color: beige;
  padding: 10px 20px;
  border: 30px;
  border-radius: 8px;
  cursor: pointer;
}

input[type="submit"]:hover {
  text-align: center;
  margin: 0 auto;
  background-color: #7CEECE;

}

#predict-button {
  margin-outside: 20px;
  text-align: center;
  background-color: lightpink;
  color: beige;
  padding: 10px 20px;
  border: 30px;
  border-radius: 8px;
  cursor: pointer;
}

#image-container {
  display: none;
  text-align: center;
  max-width: 30%;
}
button {
  display: block;
 margin: inherit;
}
img {
  max-width: 10%;
  height: auto;
}
